.row{
    margin: 0px;
    padding: 0px;
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 0px;
}

.column {
    background-color: brown;
    flex: 1; 
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    max-width: calc(100% / var(--num-columns));
    max-height: calc(100% / var(--num-columns));
}