.row{
    margin: 0px;
    padding: 0;
    background-color: aqua;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}

.column {
    background-color: brown;
    height: 100px;
    width: 100px;
    flex: 1; 
    aspect-ratio: 1/1;
    max-width: 5vw; /* Adjust this value as needed */
    max-height: 5vw;
}